html, body, header{height: 100%;width: 100%;}
html, body{overflow: hidden;}
header{
	background-image: url("../imgs/ben-neale-245472-unsplash.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
@font-face {
font-family: "FontAwesome";
src: url("../fonts/fontawesome4/fontawesome-webfont.eot");
src: 
url("../fonts/fontawesome4/fontawesome-webfont.ttf") format("ttf"),
url("../fonts/fontawesome4/fontawesome-webfont.woff") format("woff"),
url("../fonts/fontawesome4/fontawesome-webfont.woff2") format("woff2"),
url("../fonts/fontawesome4/FontAwesome.otf") format("opentype"),
url("../fonts/fontawesome4/fontawesome-webfont.svg#filename") format("svg");
}

.navbar {
    border-width: 0px;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.34);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.34);
    background-color: rgba(255, 255, 255, 0.50);
    /*background-color: rgba(0,0,0,0.0);
    background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
    background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
    background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);*/
}
.header-text-container {
    display:  table;
    width: 100%;
    height:  100%;
}

.header-text-container h1 {
    display:  table-cell;
    vertical-align:  middle;
    font-size:  20vw;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: #e4e4e4;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.29);
}
#work-menu, #home-menu {
	width: 60px;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -75px;
    height: 150px;
    background-color: #313131;
    box-shadow: -2px 0px 7px -1px rgba(0, 0, 0, 0.26);
    transition: .3s;
    display: table;
}
#work-menu span, #home-menu span{
	display: table-cell;
    vertical-align: middle;
    text-align: center;font-size: 30px;transition: .3s;

}
#work-menu:after {
    content: "";
    position: fixed;
    top: 0;
    right: -20px;
    width: 20px;
    height: 100%;
    background: #313131;
    transition: .3s;
    box-shadow: none;
}
#work-menu:hover{
    right: 0px;width: 150px;font-size: 64px;
}
.side-left{
    border-left: 20px solid white;transition: .5s;
}
#home-menu:hover{
    /*left: -20px !important;*/
    width: 150px;
    box-shadow: none !important;font-size: 64px;
}
#work-menu:hover:after{
    right: 0px;
    /*box-shadow: -2px 0px 7px -1px rgba(0, 0, 0, 0.26);*/
}
#home-menu:hover:after{
    /*left: 0px;*/
    /*box-shadow: -2px 0px 7px -1px rgba(0, 0, 0, 0.26);*/
}
#work-menu.move-left:after{
    /*right: 100% !important;*/
    /*left: -20px;
    background-color: white;*/
}
#work-menu.move-left:hover:after{
    /*left: 0 !important;*/
}
#my-work {
    position: relative;
    bottom: 100%;
    width: 0%;
    height: 100%;
    background-color: #313131;
    left: 100%;
    transition: .3s;
    overflow-x: hidden;
    /*margin-top: -100%;*/
}
.move-left{
    right: 100% !important;
    /*left: 0px;*/
    /*z-index: 1;*/
}

.show-canvas{
    left: 0 !important;
    width: 100% !important;
}
#home-menu{
    right: -130px;
    left: 100%;
    z-index: 1;
    /*width: 60px;*/
    transition: .3s;
    background-color: white;
    position: fixed;
}
.work-menu-right{
	right: 100% !important;
    left: 0 !important;
}
#home-menu:after {
    /*left: -20px;*/
    /*background: #fff;*/
}
#my-work.show-canvas #home-menu {
    left: 0;
}
.side-black {
    position: relative;
        height: 100%;width: 100%;
}
.side-border {height: 100%;width: 0px;position: fixed;left: 0px;
    top: 0;
    background-color: white;
        z-index: 1;
}
#gallery-container {
    overflow-x: hidden;
    /*overflow-y: scroll;*/
    height: 100%;
}
#gallery-images-holder .card{opacity: 0;}
.hidden {opacity: 0;}
.visible {opacity: 1;}
#display-gal {display: block;}
#gallery-images-holder .card:hover{cursor: pointer;}
/*#loadMore {
    padding: 10px;
    text-align: center;
    background-color: #33739E;
    color: #fff;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: #fff;
    box-shadow: 0 1px 1px #ccc;
    transition: all 600ms ease-in-out;
    -webkit-transition: all 600ms ease-in-out;
    -moz-transition: all 600ms ease-in-out;
    -o-transition: all 600ms ease-in-out;
}
#loadMore:hover {
    background-color: #fff;
    color: #33739E;
}*/
#left-content{
    position: fixed;
    top: 0;
    left: 0;
    height: 0;
    width: 60%;
    background-color: rgba(0, 0, 0, 0.7);
    transition: .3s;
    overflow: hidden;
    /*overflow-x: hidden;*/
    z-index: 9999;
}
#right-content{
    position: fixed;
    bottom: 0;
    right: 0;
    height: 0;
    width: 40%;
    background-color: rgba(0, 0, 0, 0.7);
    transition: .3s;
    z-index: 9999;
}
.show-gal-cont{
    height: 100% !important;
}
.show-gal-cont img{
    height: 100%;
    /*width: 100%;*/
}
.close-gal-preview {
    float: right;
    color: white;
    font-size: 50px;
    margin-right: 20px;
    margin-top: 20px;
    line-height: 0;
}
.close-gal-preview:hover, #contact-opt span:hover, #contact-opt a:hover{
    cursor: pointer;
}

.gal-img-container {

    /*display: table;*/
    width: 80%;
    float: right;
    /*max-width: 700px;*/
    height: 100%;
    text-align: center;

background-color: rgba(0,0,0,.7);
}
#work-menu span:hover, #home-menu span:hover{
font-size: 65px;
}
.gal-desc-container {

    background-color: rgba(0,0,0,.7);
    width: 70%;
    height: 100%;
    border-left: 1px solid rgba(256, 256, 256, .1);
    padding: 20px;

}
#my-sitename a {

    color: white;

}
#my-sitename a:hover{
    text-decoration: none;
}
.gal-img-inner {

    display: block;
    height: 100%;
    width: 100%;

}
.item-tag {

    border: 1px solid #80808033;
    background-color: white;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 10px;
    font-weight: bold;
    display: inline-block;
font-size: 12px;
margin-bottom: 10px;
}
#my-sitename {

    margin-bottom: 25px;

}
#contact-opt {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    text-align: center;
}
#contact-opt span, #contact-opt a {
    height: 60px;
    width: 60px;
    background-color: #313131;
    display: inline-block;
    border-radius: 100%;
    margin-bottom: 20px;
    box-shadow: 1px 3px 6px 2px #909090;transition: .3s;margin-left: 4px;margin-right: 4px;
}
.opt-container i {display: table-cell;vertical-align: middle;line-height: 0;font-size: 25px;color: #007bff;}
.opt-container {height: 100%;width: 100%;vertical-align: middle;display: table;}
#contact-opt span:hover, #contact-opt a:hover{margin-bottom: 30px; text-decoration: none;}
#email-me-form {
position: fixed;
bottom: -100%;
left: 50%;
max-width: 500px;
margin: auto;
transition: .5s;
margin-left: -250px;
width: 100%;
background-color: rgba(0,0,0,.7);
padding: 20px;
border-radius: 5px;
box-shadow: 0px 5px 5px 0px rgba(0,0,0,.5);
}
#email-me-form form .form-control{
    margin-bottom: 10px
}
.hit-me .opt-container i {
    color: #00aff0;
}
.hit-me {

    background-color: white !important;
    border: 1px solid #00aff0;

}
.show-email-form{bottom: 110px !important;}
@media (max-width: 575px) {
    .card-columns {
        -webkit-column-count: 1 !important;
        -moz-column-count: 1 !important;
        column-count: 1 !important;
    }
}